{% extends "layouts/base.html" %}

{% block head_title %}Your Subsription - {{ block.super }}{% endblock head_title %}

{% block content %}
<h1 class="txt-lg font-medium">Your Subsription</h1>
<form action="{% url 'subscriptions.billing' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Refresh</button>
</form>

<p>Plan name: {{ subscription.plan_name }}</p>
<p>Status: {{ subscription.status|title }}</p>
<p>Membership age: {{ subscription.original_period_start|timesince }}</p>
<p>Start: {{ subscription.current_period_start }}</p>
<p>End: {{ subscription.current_period_end|timeuntil }} ({{ subscription.current_period_end }})</p>

{% if subscription.is_active_status %}
<form action="{% url 'subscriptions.cancel_billing' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Cancel Subscription</button>
</form>
{% endif %}
{% endblock %}